/* max width 375px */

@media only screen and (max-width: 765px) {

    html {

        overflow-x: hidden;

    }

    /*body{*/

        /*overflow-x: hidden;*/

        /*overflow-y: scroll;*/

    /*}*/

    .slider-button {

        top:75%;

        left:44.5%;

        transform: scale(2);

    }

    .slider-text {

        top:5%;

    }

    ul.footer-right-list{

        padding-left: 20px;

    }

    .slide_text h1 {

        line-height: normal;

        font-size: 70px;

    }

    .navbar-fixed-top {

        top: 60px;

        border-width: 0 0 1px;

        width: 100%;

    }

    button.slider-btn {

        transform: scale(1.2);

    }

    #sticky-wrapper {

        width: 100%;

    }

    #OUR_LOCATION .navigation ul {

        display: flex;

        flex-wrap: wrap;

    }

    #OUR_LOCATION .navigation li {

        width: 50%;

    }

    .divider {

        margin-left: 10px;

        margin-right: 10px;

    }

    .navigation ul li a {

        padding: 25px 6px;

        font-size: 12px;

    }

    #FLOOR_PLANS ul li {

        width: 50%;

    }

    #FLOOR_PLANS  ul {

        display: flex;

        flex-wrap: wrap;

    }

    .navigation1 ul li {

        float: left;

        padding: 0px;

        position: relative;

        left: 0% !important;

        width: 25%;

        text-align: center;

    }

    .info-bottom {

        height: auto;

        background: #000;

    }

    .info-bottom ul {

        display: flex;

        flex-wrap: wrap;

        justify-content: center;

    }

    .info-bottom ul li {

        flex: 1 1 50%;

    }

  .navigational ul li {

        /*float: left;*/

        /*padding: 0px;*/

        /*position: relative;*/

        /*left: 0%;*/

    }

  .map-responsive {

        overflow: hidden;

        padding-bottom: 30%;

        position: relative;

        height: 200px;

    }

  .submit{

      top: 0;

      left: 0;

      width: 100%;

  }

  /*.footer{*/

    /*height: 715px;*/

  /*}*/

  /*.footer-logo {*/

    /*position: relative;*/

    /*top: 0px;*/

    /*height: 110px;*/

    /*left: 25px;*/

/*}*/

    .footer-city-logo {

        position: initial;

    }

 .footer-left {

    background: #000;

    /*height: 190px;*/

    /*width: 235px;*/

    border-right: none;

    /*position: relative;*/

    /*top: 30px;*/

    }

  .useful{

    left: 0px;

  }

  .social{

    left: 0px;

  }

  .creek{

    left: 0px;

  }

  .img-responsive.logo-main {

    width: 100px;

}

  .feature-img {

    background: url('../images/welcome3.jpg');

        background-repeat: repeat;

        background-size: auto auto;

    /*height: 484px;*/

    backface-visibility: visible;

    background-size: cover;

    background-repeat: no-repeat;

    /*float: left;*/

    /*width: 100%;*/

      height: 100%;

}

  /*.feature-content {*/

    /*height: 630px;*/

/*}*/

  .table-img2 {

    /*background: url('../images/appartment2.jpg');*/

        background-repeat: repeat;

        background-size: auto auto;

    /*height: 710px;*/

    backface-visibility: visible;

    background-size: cover;

    background-repeat: no-repeat;

    /*float: left;*/

    /*width: 100%;*/

}

    .table2,

  .table1 {

    width: 90%;

    /*float: right;*/

    /*position: relative;*/

    /*top: 50px;*/

    /*right: 15px;*/

}



  /*.table-img1 {*/

    /*width: 100%;*/

/*}*/

  .gallery-image{

    width: 100%;

  }

  .overlay{

    overflow: hidden;

  }

    .row.feature-para {

        padding: 10px 5px 20px 5px;

    }

}



